@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
    box-sizing: border-box;
}

:root {
    --bg-color-main: #202123;
    --font-color-main: #bdc1c6;
    --link-color-main: #0969da;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    background-color: var(--bg-color-main);
    color: var(--font-color-main);
}
